# string Data Type in Python

In [6]:
# string bounderies
# "string tex", 'string text', '''string text ''', """string text""", 
name : str = "Nasir abbas"
print(name)
print(type(name))

Nasir abbas
<class 'str'>

In [7]:
# string bounderies
# "string tex", 'string text', '''string text ''', """string text""", 
name : str = 'Nasir abbas'
print(name)
print(type(name))

Nasir abbas
<class 'str'>

In [8]:
# string bounderies
# "string tex", 'string text', '''string text ''', """string text""", 
name : str = '''Nasir abbas'''
print(name)
print(type(name))

Nasir abbas
<class 'str'>

In [9]:
# string bounderies
# "string tex", 'string text', '''string text ''', """string text""", 
name : str = """Nasir abbas"""
print(name)
print(type(name))

Nasir abbas
<class 'str'>

In [10]:

name : str = "Nasir's abbas"
print(name)
print(type(name))

Nasir's abbas
<class 'str'>

In [11]:
name : str = 'Nasir"s abbas'
print(name)
print(type(name))

Nasir"s abbas
<class 'str'>

In [12]:
name : str = """Nasir's abbas"""
print(name)
print(type(name))

Nasir's abbas
<class 'str'>

In [14]:
# double cote inside the string
message: str = 'PIAIC "student card" \n father Name'
print(message)

PIAIC "student card" father Name

In [15]:
# single cote inside the string
message: str = "PIAIC student card \n father's Name"
print(message)

PIAIC student card
 father's Name

In [19]:
# both single cote inside the single cote string
# convert any spacial character into sinple character , place \ before that character


message: str = 'PIAIC student card \n father\'s Name'
print(message)

PIAIC student card
 father's Name

In [17]:
# both single and double cote inside the string
message: str = """PIAIC "student card" \n father's Name"""
print(message)

PIAIC "student card"
 father's Name

# usage is triple cote  """ """ , '''  '''

## "\\n" for new line
## "\\" for continue
## + for concanicating

In [25]:
# 
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = "PIAIC student Cat \
\n Student Name:" + name + \
"\n age: " + str(age) + \
"\n Education"  + education
 # concaninate can not perform on different data types
print(cart)

PIAIC student Cat
 Student Name:Nasir Abbas
 age: 22
 EducationMaster in Data Sciense

In [26]:
# ther is no need concatinat \n for new line 
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = """
PIAIC Student Card
Student Name:....
Father's Name:...
Age :...
Education:...


"""
print(cart)

PIAIC Student Card
Student Name:....
Father's Name:...
Age :...
Education:...

# F-String in Python

## Recommended F-string style only

In [29]:
# f_string enable you to print the varible's value inside the string just like backtics in typescript
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age : {age}
Education: {education}


"""
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : 22
Education: Master in Data Sciense

In [30]:
# f_string ewith tripe siingle cote
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age : {age}
Education: {education}
'''
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : 22
Education: Master in Data Sciense

In [33]:
# f_string with performing calculation
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age : {age}
Education: {education}
total: {2+5+7+8+1} 

"""
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : 22
Education: Master in Data Sciense
total: 23

## F-string and jinja style

In [39]:
a = 7
b = 6
# {} is plsce holder
#                       0                   1         0 1 
"Pakistan value of a = {} and value of b = {}".format(a,b)

'Pakistan value of a = 7 and value of b = 6'

In [40]:
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = '''
PIAIC Student Card
Student Name: {}
Father's Name: {}
Age : {}
Education: {}
''' .format(name,fname,education,age,)
#           0    1      2        3
# here is podition problem
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : Master in Data Sciense
Education: 22

In [41]:
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = '''
PIAIC Student Card
Student Name: {0}
Father's Name: {1}
Age : {3}
Education: {2}
''' .format(name,fname,education,age,)
#           0    1      2        3
# we can use index
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : 22
Education: Master in Data Sciense

In [43]:
name:str = "Nasir Abbas"
fname:str = "Manzoor hussain"
education: str = "Master in Data Sciense" 
age: int = 22
cart: str = '''
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Age : {c}
Education: {d}
''' .format(a=name,b=fname,d=education,c=age,)
#           0    1      2        3
# we can use varibe as index
print(cart)

PIAIC Student Card
Student Name: Nasir Abbas
Father's Name: Manzoor hussain
Age : 22
Education: Master in Data Sciense

In [45]:
student_code:str = """
print("My name is Nasir Abbas")
a:int = 3
b:int= 4
print(a+b)
"""

print(student_code)
exec(student_code)

print("My name is Nasir Abbas")
a:int = 3
b:int= 4
print(a+b)

My name is Nasir Abbas
7

# Explore string method and attributes


* print
* type
* id
* dir
* len
* lower
* uper

In [46]:
a:list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [75]:
name:str = "naSIr aBBas"
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.title())

Nasir abbas
NASIR ABBAS
nasir abbas
Nasir Abbas

In [49]:
name:str = "naSIr aBBas"
print(name)
print(name.casefold()) # same as lower()

naSIr aBBas
nasir abbas

In [66]:
name:str = "   Pakistan zindaabad         "
display(name)
display(name.lstrip()) # left side trip
display(name.rstrip()) # right side trip
display(name.strip()) # both side side trip

'   Pakistan zindaabad         '

'Pakistan zindaabad         '

'   Pakistan zindaabad'

'Pakistan zindaabad'

In [74]:
# regex used for removing inside spacing
import re
name:str = "   Pakistan      zindaabad         "
display(name)
name1:str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'   Pakistan      zindaabad         '

'Pakistan zindaabad'